---
- hosts: ubuntu
  become: true

  tasks:

  - name: Install required pakages for automount
    ansible.builtin.apt:
      name: "{{ item }}"
      state: present
      update_cache: true
    loop: 
      - autofs
      - nfs-common
      - python3

  - name: Add nfs.autofs to auto.master.d
    ansible.builtin.copy:
      src: ../files/nfs-autofs
      dest: /etc/auto.master.d/nfs.autofs
      owner: root
      mode: '0644'
    notify: Restart autofs

  - name: Add nfs mount map file 
    ansible.builtin.copy:
      src: ../files/autofs.nfs
      dest: /etc/auto.nfs
      owner: root
      mode: '0644'
    notify: Restart autofs

  - name: Autofs service started
    ansible.builtin.systemd_service:
      name: autofs
      state: started
      enabled: true

  handlers:

  - name: Restart autofs
    ansible.builtin.systemd_service:
      name: autofs
      state: restarted
