---
- hosts: fileserver
  become: true 

  tasks:

  - name: Instalar nfs-util
    ansible.builtin.dnf:
      name: nfs-utils
      state: present

  - name: Create shared directory
    ansible.builtin.file:
      path: /srv/nfs/shared
      state: directory
      owner : nobody
      mode: '0777'

  - name: Exportar shared directory
    ansoble.builtin.lineinfile:
      path: /etc/exports
      line: "/srv/nfs/shared   192.168.10.0/24(rw)"
      state: present

  - name: Service NFS is started
    ansible.builtin.systemd_service:
      name: mfs-server
      state: started
      enabled: true

  - name: NFS enable in firewalld
    ansible.posix.firewalld:
      service: nfs
      state: enabled
      permanent: true
      immediate: true

